<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Guitar</title>
  </head>
  <body>

    <nav>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/">Orders</a> </li>
        <li> <a href="/">Customers</a> </li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
