<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style.css">
    <title>Guitar</title>
  </head>

  <body>

    <nav>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/">Manufacturer</a> </li>
        <li> <a href="/products">Products</a> </li>
        <li> <a href="/new">Add Products</a> </li>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
