<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <title>Guitar</title>
  </head>

  <body>

    <nav>
      <ul class="menu">
        <li class="dropdown">
          <a class="dropbtn"  href="/manufacturer">Manufacturers</a>
          <div class="dropdown-content">
            <a href="/manufacturer/new">Add Manufacturer</a>
            <a href="/manufacturer">List of Manufacturer</a>
          </div>
        </li>

        <li class="dropdown"> <a class="dropbtn" href="/products">Products</a>
          <div class="dropdown-content">
            <a href="/product/new">Add Products</a>
            <a href="/products">List of Products</a>
          </div>
        </li>

        <li> <a href="/search">Search</a> </li>
        <li> <a href="/guitars/new">Guitars</a> </li>
      </ul>
    </nav>

    <div class="main">
    <%= yield %>
    </div>


  </body>
</html>
