<h1>PRODUCTS</h1>

<p>lksdjf;laskdjf;asdlkfas;dhflaksjdfhlaksjdfklhk</p>

<table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Type</th>
    </tr>

  <% for product in @products %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.type %></td>
  </tr>
  <% end %>
</table>
