table {
    border-collapse: collapse;
    width: 100%;
}

table, th, tr, td {
  border: 1px solid black;
}

h1 {
  color: red;
}

p {
  color: green;
}


.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}


nav > .menu{
  background-color: green;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > .menu > li {
  list-style: none;
  float:left;
  padding: 14px 16px;
}

nav > .menu > li:hover {
  background-color: blue;
}



nav > .menu > li > a {
  text-decoration: none;
  color: black;
}

.dropdown{
  display:none;
  position: absolute;

}

.dropdown > a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 12px 16px;
  margin-top: 10px;
}

.dropdown > a:hover{
background-color: blue;
}

li:hover > .dropdown{
  display:block;
}
