table {
    border-collapse: collapse;
    width: 100%;
}

table, th, tr, td {
  border: 1px solid black;
}

h1 {
  color: yellow;
}

p {
  color: green;
}


.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
