<h1>Add a manufacturer</h1>

<form class="" action="/manufacturer/new" method="post">
  <label for="name-input">Name</label>
  <input type="text" name="name" id="name-input"><br>

  <label for="type-input">Address</label>
  <input type="text" name="address" id="name-input"><br>

  <label for="phone-input">Phone</label>
  <input type="text" name="phone" id="phone-input"><br>

  <label for="email-input">Email</label>
  <input type="text" name="email" id="email-input"><br>

  <input type="submit" value="Add Manufacturer">
</form>
